.sae_image {
	line-height: 0;
}

.sae_image .sae-image-wrapper figure {
	margin: 0;
}

/* Caption */
.sae-image-caption {
	display: block;
	font-size: 12px;
	padding: 10px;
	line-height: 1.4em;
	color: rgba(150, 150, 150, 0.8);

	/* Builder's border defaults compatibility*/
	border-width: 0px;
	border-color: #333333;
	border-style: solid;
}

/* Caption Position */
.sae-image-wrapper--caption-overlay {
	position: relative;
}

.sae-image-wrapper--caption-overlay .sae-image-caption {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.sae-image-wrapper--caption-hidden .sae-image-caption {
	display: none;
}