/* Gallery Wrapper */
.sae-gallery-layout-masonry .sae_gallery_item {
	 /* Chrome, Safari, Opera */
	-webkit-column-break-inside: avoid;

	/* Firefox */
	page-break-inside: avoid;

	/* IE 10+ */
	break-inside: avoid;
}

/* Gallery Item */
.sae_gallery .sae_gallery_item {
	border-color: #333333;
	border-style: solid;
}

/* Gallery Caption */
.sae-gallery-caption-overlay figure {
	position: relative;
}

.sae-gallery-caption-overlay .sae-gallery-item-caption{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}

.sae-gallery-caption-hidden .sae-gallery-item-caption{
	display: none;
}